/* catalog skeleton styles */
.skeleton {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 16px;
    overflow: hidden;
    max-width: 24rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    background-color: #ffffff;
    animation: pulse 1.5s infinite;
    height: 550px;
}

/* list variant */
.skeletonList {
    position: relative;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    gap: 1rem;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 11rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    animation: pulse 1.5s infinite;
}

.skeletonImage {
    width: 100%;
    height: 15rem;
    background-color: #eeeeee;
}

.skeletonList .skeletonImage {
    height: auto;
}

.skeletonContent {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    padding: 1rem;
}

.skeletonList .skeletonContent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem 1rem 1rem 0;
}

.skeletonTitle {
    width: 70%;
    height: 1.5rem;
    background-color: #eeeeee;
    border-radius: 16px;
}

.skeletonDescription {
    width: 100%;
    height: 1rem;
    background-color: #eeeeee;
    border-radius: 16px;
}

.skeletonFooter {
    width: 50%;
    height: 1.5rem;
    background-color: #eeeeee;
    border-radius: 16px;
}

@keyframes pulse {
    0% {
        background-color: #eeeeee;
    }

    50% {
        background-color: #ffffff;
    }

    100% {
        background-color: #eeeeee;
    }
}