.box {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .box {
    width: 100%;
    padding: 10px;
  }
}
